
h1 {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 70px;
    transform: skewY(-10deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: linear-gradient(to left, rgba(7, 27, 82, 1) , rgba(0, 123, 128, 1) 100%) ;
    text-shadow: 
        -1px -1px 0 rgb(178, 52, 216),
        -2px -2px 0 rgb(178, 52, 216),
        -3px -3px 0 rgb(178, 52, 216),
        -4px -4px 0 firebrick,
        -5px -5px 0 firebrick,
        -6px -6px 0 firebrick,
        -7px -7px 0 rgb(178, 52, 216),
        -8px -8px 0 rgb(178, 52, 216),
        -30px 20px 40px dimgrey;
}